<nav>
  <div class="logo">
    <img src="../../assets/img/lauro.jpg" alt="">
    <h2>{{ data | date: "dd/MM/yyyy" }}</h2>
  </div>

  <ul>
    <a href="#" target="_blank" rel="noopener noreferrer"><li>PÁGINA PRINCIPAL</li></a>
    <a href="#" target="_blank" rel="noopener noreferrer"><li>SOBRE</li></a>
    <a href="#" target="_blank" rel="noopener noreferrer"><li>SERVIÇOS</li></a>
    <a href="#" target="_blank" rel="noopener noreferrer"><li>PORTIFÓLIO</li></a>
    <a href="#" target="_blank" rel="noopener noreferrer"><li>CONTATO</li></a>
  </ul>
</nav>
