nav{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 100%;
}
.logo {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  list-style-type: none;
}
nav ul a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px;
  min-width: 160px;
  border-radius: 6px;
  background-color: #2e71be;
}

nav ul a:hover {
  opacity: .9;
  background-color: #255fa1;
}

img {
  width: 50px;
  margin: 0 10px;
  border-radius: 50%;
}
