<main>
  <aside>
    <h2>Olá, meu nome é <span class="nome">Lauro Otávio Urbano</span></h2>
    <p>Eu sou um <span class="profissao">Desenvolvedor Web</span></p>
    <img src="../../assets/img/LAURO1.png" alt="foto de Lauro Otávio Urbano" title="foto de Lauro Otávio Urbano">
  </aside>
  <section>
    <h3>Breve histórico</h3>
    <p>Sou formado em <span class="cursos">Administração de empresas</span> e estou me graduando em <span class="cursos">Análise e Desenvolvimento de Sistemas</span></p>
  </section>
</main>
